<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
   <p1>In this app, you have to write four inputs as first and second should be integer list split up with enter character</p1><br/>
    <p1>Third input should be integer that you want to found in first input</h1><br/>
  <p1>Last input should be integer that you want to found in second input</p1><br/>
  <p1>The result returns the comparison of the indexes given from the two lists</p1><br/>
  <p1>The result returns -1 list two given input2 index greater than list one given input1 index</p1><br/>
  <p1>The result returns 1 list two given input2 index less than list one given input1 index</p1><br/>
  <p1>The result returns 0 list two given input2 index equals list one given input1 index</p1><br/>
   <p1>The other result -3</p1><br/>
    Result is {{result}}
    
    Result is {{result}}


   <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <textarea name="input3" rows="10" cols="30">
        </textarea>
        <textarea name="input4" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>
